In [19]:
import pandas as pd
import numpy as np

In [3]:
data_folder = "./data/CrisisLexT6"
datasets = {
    'sandy_hurricane' : pd.read_csv(f"{data_folder}/2012_Sandy_Hurricane/2012_Sandy_Hurricane-ontopic_offtopic.csv"),
    'alberta_floods'  : pd.read_csv(f"{data_folder}/2013_Alberta_Floods/2013_Alberta_Floods-ontopic_offtopic.csv"),
    'boston_bombings' : pd.read_csv(f"{data_folder}/2013_Boston_Bombings/2013_Boston_Bombings-ontopic_offtopic.csv"),
    'oklahoma_tornado': pd.read_csv(f"{data_folder}/2013_Oklahoma_Tornado/2013_Oklahoma_Tornado-ontopic_offtopic.csv"),
    'texas_explosion' : pd.read_csv(f"{data_folder}/2013_West_Texas_Explosion/2013_West_Texas_Explosion-ontopic_offtopic.csv"),
    'queensland_flood': pd.read_csv(f"{data_folder}/2013_Queensland_Floods/2013_Queensland_Floods-ontopic_offtopic.csv")
}

In [8]:
for key in datasets.keys():
    df = datasets[key]
    df['id'] = df['tweet id']
    df['text'] = df[' tweet']
    df['label'] = df[' label']
    datasets[key] = df.drop(['tweet id', ' tweet', ' label'], axis=1)

In [9]:
datasets['sandy_hurricane'].head()

,id,text,label
0,'262596552399396864',I've got enough candles to supply a Mexican fa...,off-topic
1,'263044104500420609',Sandy be soooo mad that she be shattering our ...,on-topic
2,'263309629973491712',@ibexgirl thankfully Hurricane Waugh played it...,off-topic
3,'263422851133079552',@taos you never got that magnificent case of B...,off-topic
4,'262404311223504896',"I'm at Mad River Bar &amp; Grille (New York, N...",off-topic

In [10]:
for key, df in datasets.items():
    vc = df['label'].value_counts()
    print("-"*50)
    print(f"{key}")
    print("-"*50)
    print(vc)

--------------------------------------------------
sandy_hurricane
--------------------------------------------------
on-topic     6138
off-topic    3870
Name: label, dtype: int64
--------------------------------------------------
alberta_floods
--------------------------------------------------
on-topic     5189
off-topic    4842
Name: label, dtype: int64
--------------------------------------------------
boston_bombings
--------------------------------------------------
on-topic     5648
off-topic    4364
Name: label, dtype: int64
--------------------------------------------------
oklahoma_tornado
--------------------------------------------------
off-topic    5165
on-topic     4827
Name: label, dtype: int64
--------------------------------------------------
texas_explosion
--------------------------------------------------
on-topic     5246
off-topic    4760
Name: label, dtype: int64
--------------------------------------------------
queensland_flood
--------------------------------------------------
on-topic     5414
off-topic    4619
Name: label, dtype: int64

In [13]:
for key in datasets.keys():
    df = datasets[key]
    df = df[df['label'].str.contains('on-topic')]
    datasets[key] = df

In [14]:
for key, df in datasets.items():
    vc = df['label'].value_counts()
    print("-"*50)
    print(f"{key}")
    print("-"*50)
    print(vc)

--------------------------------------------------
sandy_hurricane
--------------------------------------------------
on-topic    6138
Name: label, dtype: int64
--------------------------------------------------
alberta_floods
--------------------------------------------------
on-topic    5189
Name: label, dtype: int64
--------------------------------------------------
boston_bombings
--------------------------------------------------
on-topic    5648
Name: label, dtype: int64
--------------------------------------------------
oklahoma_tornado
--------------------------------------------------
on-topic    4827
Name: label, dtype: int64
--------------------------------------------------
texas_explosion
--------------------------------------------------
on-topic    5246
Name: label, dtype: int64
--------------------------------------------------
queensland_flood
--------------------------------------------------
on-topic    5414
Name: label, dtype: int64

In [24]:
for key in datasets.keys():
    datasets[key]['crisis'] = key

In [25]:
all_datasets = pd.concat(list(datasets.values()))

In [26]:
all_datasets['id'] = all_datasets['id'].apply(lambda x: int(x.replace("'", "")))

In [32]:
all_datasets.to_hdf("./data/preprocessed/crisis-tweets-0.hdf", 'df')